body{
    width:100%;
    height: 100vh;
    background-image: url('Images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}
.mainSection{
    display: grid;
    grid-template-rows: 100%;
}
main{
    display: grid;
    grid-template-rows: 100%;
}
#chartdiv {
    height: 90%;
    width: 100%;
    margin: auto;
    margin-top: 1%;
    margin-left: 1%;
    position: fixed;
    overflow: hidden;
    transform: none;
}
path, g {
    position: relative;
    transform: none;
    align-content: center;
}
g[role="group"]{
    transform: scale(1);
    position: relative;
}
@media screen and (max-width:1024px) {
    #chartdiv{
        margin-left: 2.5%;
    }
}
@media screen and (max-height:680px) {
    #chartdiv{
        margin-left: 2.5%;
    }
}



