body{
    width:100%;
    height: 100vh;
    background-image: url('Images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}
.mainSection{
    display: grid;
    grid-template-rows: 100%;
}
main{
    display: grid;
    grid-template-rows: 100%;
}
#chartdiv {
    height: 89%;
    width: 99%;
    margin: auto;
    margin-top: 1%;
    margin-left: 1%;
    position: fixed;
    overflow: hidden;
    transform: translate(0,0,0,0);
}
path, g {
    position: relative;
    transform: translate(0,0,0,0);
    align-content: center;
}
g[role="group"]{
    transform: scale(1);
    position: relative;
}





